<header class="site-header">
  <div id="menuToggle">
    <input type="checkbox" id="menuCheckbox" />
    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <li class="menu-container">
        <div class="menu-header">
          <h2 class="menu-header-title">Theme</h2>
          <div class="theme-switcher">
            <input type="radio" id="light-theme" name="themes" checked />
            <label for="light-theme"
              ><span><i data-feather="sun"></i>Light</span></label
            >
            <input type="radio" id="dark-theme" name="themes" />
            <label for="dark-theme"
              ><span><i data-feather="moon"></i>Dark</span></label
            >
            <input type="radio" id="black-theme" name="themes" />
            <label for="black-theme"
              ><span><i data-feather="star"></i>Black</span></label
            >
          </div>
        </div>
        <div class="menu-body">
          <a href="index.html"><i data-feather="home"></i>Home</a>
          <a href="research.html"><i data-feather="search"></i>Researches</a>
          <a href="account-settings.html"><i data-feather="user"></i>Account</a>
          <a href="give-feedback.html"
            ><i data-feather="message-square"></i>Give Feedback</a
          >
          <a href="about.html"><i data-feather="info"></i>About</a>
          <a href="support.html"><i data-feather="life-buoy"></i>Support</a>
        </div>
        <div id="auth-link-container" class="menu-body"></div>
      </li>
    </ul>
  </div>

  <div class="notification-wrapper">
    <a
      href="notifications.html"
      id="notification-bell"
      class="notification-bell"
    >
      <i data-feather="bell"></i>
      <span id="notification-badge" class="badge hidden"></span>
    </a>
  </div>
</header>
